


html,
body {
    background-color: #ffffff;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
    color:#949494;
    font-size:15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #f56363;
}

h1,
h2,
h3 {

    font-weight: 500;
    margin: 0;
}
h4,
h5 {
   
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.different-bg{
    background:#1a1a1a;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top:40px;
    padding-bottom:40px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom:20px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, .55);
    width: 100%;
    overflow:hidden;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 5px;
    width: 85px;
    margin: auto;
    background: #7b6c63;
    margin-bottom:50px;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #f56363;
    border-color: #f56363;
}

.btn{
    padding: 10px 20px;
    font-size: 16px;
}

.btn-default{
    color: #000;
    background-color: #fff;
    border:2px solid #000;
    text-transform: uppercase;
}
.btn-default span{
    margin-left:5px;
}

.btn-default:active, .btn-default:hover  {
    background: transparent;
}


h1 span {
    color: #f56363;
    font-weight: 400;
}

/*For Global Section*/
.heading-content {
    margin-bottom: 4rem;
    margin-top:20px;
}
.heading-content  h3{
    text-transform:uppercase;
    color:#7b6c63;
    font-weight: 500;
    margin-bottom:40px;
    font-size: 40px;
}
.heading-content  p{
    color:#212121;
    width: 35%;
    margin: 0 auto;
    line-height: 30px;
}

.heading-content2 {
    margin-bottom: 4rem;
}
.heading-content2  h4{
    text-transform:uppercase;
    color:#7b6c63;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 24px;
}
.heading-content2  p{
    color:#212121;
    width: 82%;
    margin: 0 auto;
    line-height: 30px;
}


/*For Menu Section*/
.navbar-default {
    background-color:#303030;
    border-color:0;
    height:95px;
    padding-top:15px;
}

.navbar {

    min-height: 50px;
    margin-bottom:0;
    border: 1px solid transparent;
    border-radius:0;
}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#7b6c63;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color:transparent;
    border-bottom:3px solid #7b6c63;
    color:#fff;
}

/*For Home Section*/

.home{
    background: url(../images/header-bg.jpg) no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.home-content{
    margin:180px 0;
    color:#fff;
    text-transform:uppercase;
    width:75%;
}
.home-content h5{
    font-weight:900px;
    font-size:24px;
}

.home-content h1{
    font-size:65px;
    font-weight:400;
}
.home-content h1 span{
    font-weight:600;
    color:#7b6c63;
}

.btn-home{
    padding:20px 70px;
    font-size:16px;
    margin-top:70px;
    color:#fff;
    background:#272420;
    border:0;
    transition:all 500ms .1s ease-in-out;
}
.btn-home:hover, .btn-home:active{
    background:#fff;
    color:#000;
}
.btn-home span i{
    margin-left:10px;
}

/*For About Us Area*/

.about-bg{
    background:#f5f5f5;
}

.about-content{
    padding:80px 0;
}
.about-content h3{
    color:#7b6c63;
    font-size:24px;
    text-transform:uppercase;
    font-weight:400;
}
.abt-btn{
    background:#f5f5f5;
    margin-top:30px;
}

.about-img img{
    height: 491px;
    float: right;
    width: 558px;
}

/*For service Area*/

.service-content i{
    color#7b6c63;
    font-size:25px;
}
.service-content h5{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}

/*Footer Area*/
#footer p{
    font-size:13px;
    color:#929292;
}

.copyright-footer{
    background:#0d0d0d;
    padding:20px 0;
}
.copyright-footer .copyright p{
    color:#595959;
    font-size:16px;
    font-weight:500;
}

